.main-left-div{
    position: relative;
    color:black;
}

.center-title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.main-div-items{
    margin-top: 20px;
    overflow-y: auto;
    height: 60vh;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
