.main-left-div{
    position: relative;
    color:black;
}

.center-title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.main-div-items{
    margin-top: 20px;
    overflow-y: auto;
    height: 65vh;
}
