.toolbar {
  height: 100px;
  display: flex;
  align-items: center;
  background: radial-gradient(ellipse at center, rgba(243,253,236,1) 0%, rgba(177,196,110,1) 100%);
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 24px;
}

.center-title{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}