.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: green;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 24px;
}

.center-title{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}