<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,500,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//storage.googleapis.com/code.getmdl.io/1.0.1/material.teal-red.min.css" />
<script src="//storage.googleapis.com/code.getmdl.io/1.0.1/material.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<div class="main-footer-div">
    <div class="img-album" *ngIf="allSongs != null && selectedSong != null">
        <div class="display-flex">
            <div>
                <img class="img-group"width="75" src="{{ allSongs[selectedSong].urlFotoAlbum }}" alt="180"/>
            </div>
            <div class="text-info-song">
                <div>
                    {{ allSongs[selectedSong].nombreGrupo }}
                </div>
                <div><b>
                    {{ allSongs[selectedSong].nombreCancion }}
                    </b>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="play()"><i class="material-icons md-48 reproductor">play_arrow</i></button>
        <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="pause()"><i class="material-icons md-48 reproductor">pause</i></button>
        <button class="mdl-button mdl-button--raised mdl-button--colored" (click)="stop()"><i class="material-icons md-48 reproductor">stop</i></button>
    </div>
    <div class="center-element margin-left-20">
        <span>{{currentTimeCalcul}}</span>
        <mat-slider min="0" max="{{duration}}" [value]="seek" (input)="setSeekTo($event)"></mat-slider>
        <span>{{durationCalcul}}</span>
    </div>

    <div class="center-element margin-left-20">
        <span><i class="material-icons reproductor volumen">volume_up</i>Volumen</span>
        <mat-slider min="0" max="1" step="0.01" value="1" (input)="setVolume($event)"></mat-slider>
    </div>
</div>
