<ul>
    <li *ngFor="let cancion of allSongs" (click)="clickSongItem(cancion)">
        <img width="120" src="{{ cancion.urlFotoAlbum }}" alt="" />
        <div class="margin-left-25 widht-50">
            <div>{{ cancion.nombreCancion}}</div>
            <div>{{ cancion.nombreGrupo}}</div>
            <div>{{ cancion.fechaCancion}}</div>
        </div>
        <div class="text-align-end widht-50">
            <div>{{ cancion.generoMusical}}</div>
            <div>{{ cancion.duracionCancion}}</div>
        </div>
    </li>
</ul>