<div class="main-div-items">
    <div align=center *ngIf="canciones[pathParam | async]">
        <img class="img-group"width="250" src="{{ canciones[pathParam | async].urlArtista }}" alt="180"/>
        <p><b>Artista: </b>{{ canciones[pathParam | async].nombreGrupo }}</p>
        <p><b>Nombre Albúm: </b>{{ canciones[pathParam | async].nombreAlbum }}</p>
        <p><b>Fecha: </b>{{ canciones[pathParam | async].fechaCancion }}</p>
        <p><b>Género Musical: </b>{{ canciones[pathParam | async].generoMusical }}</p>
        <p><b>Info: </b>{{ canciones[pathParam | async].detalleArtista }}</p>
    </div>
    
</div>
 