.main-right-div {
    position: relative;
    margin-top: 100px;
    border: 1px solid blue;
    height: 60vh;
    display: flex;
    justify-content: center;
    color:blue;
}

.center-title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}