.main-class-div{
    margin-top: 80px;
}

.display-flex{
    display: flex;
}

.widht-40{
    width: 40%;
}

.widht-60{
    width: 60%;
}

.center-title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.main-right-div {
    position: relative;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    color:blue;
}