.main-class-div{
    margin-top: 80px;
}

.display-flex{
    display: flex;
}

.widht-40{
    width: 40%;
}

.widht-60{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-title{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.main-right-div {
    color:black;
}
